<div ng-controller="WorkerGrxxsCtrl" class="worker-grxxs">
  <div class="pd5">
    <div class="div-zy bianxian">
      <div class="zuoyoubili4 pd10">
        <span class="iconfont pd6">&#xe60c;</span>
        姓名
      </div>
      <div class="zuoyoubili3">
        <span ng-bind="worker.name" ng-click="xgxm"></span>
      </div>
    </div>

    <div class="div-zy">
      <div class="zuoyoubili4 pd10">
        <span class="iconfont pd6">&#xe60a;</span>
        性别
      </div>
      <div class="zuoyoubili3">
        <select class="xinbie xbnyyinchang">
          <option>男</option>
          <option>女</option>
        </select>
      </div>
    </div>
  </div>
  <div class="pd5">
    <div class="div-zy  bianxian">
      <div class="zuoyoubili4 pd10">
        <span class="iconfont pd6">&#xe615;</span>
        手机号码
      </div>
      <div class="zuoyoubili3">
        <span ng-bind="worker.phone"></span>
      </div>
    </div>
    <!-- <div class="div-zy" ng-click="tjyhk();">
      <div class="zuoyoubili2 pd10">
        <span class="iconfont pd6">&#xe782;</span>
        银行卡
      </div>
      <div class="zuoyoubili1">
        <span class="arrow1"></span>
      </div>
    </div> -->
    <!-- </div>
  <div class="pd5"> -->
    <!-- <div class="div-zy  bianxian">
      <div class="zuoyoubili2 pd10">
        <span class="iconfont pd6">&#xe674;</span>
        实名认证
      </div>
      <div class="zuoyoubili1">
        <span class="arrow1"></span>
      </div>
    </div> -->
    <!-- <div class="div-zy" ng-click="xgmm();">
      <div class="zuoyoubili2 pd10">
        <span class="iconfont pd6">&#xe86b;</span>
        修改登录密码
      </div>
      <div class="zuoyoubili1">
        <span class="arrow1"></span>
      </div>
    </div> -->
  </div>
  <div class="pd5">
    <!-- <div class="div-zy  bianxian">
      <div class="zuoyoubili2 pd10">
        <span class="iconfont pd6">&#xe86b;</span>
        修改支付密码
      </div>
      <div class="zuoyoubili1">
        <span class="arrow1"></span>
      </div>
    </div> -->
    <div class="div-zy" ng-click="zwkf();">
      <div class="zuoyoubili2 pd10">
        <span class="iconfont pd6">&#xe65b;</span>
        所属区域
      </div>
      <div class="zuoyoubili1">
        <span class="arrow1"></span>
      </div>
    </div>
  </div>
  <div class="div-zy topxiangshou bianxian" ng-click="zwkf();">
    <div class="zuoyoubili2 pd10">
      <span class="iconfont pd6">&#xe652;</span>
      评价
    </div>
    <div class="zuoyoubili1">
      <span class="arrow1"></span>
    </div>
  </div>
</div>