<div ng-controller="WorkerSmrzCtrl" class="worker-smrz h100">
  <div class="div-head yellow">
    <div class="div-zy">
      <div class="div-zy1">
        <span class="arrow" ng-click="fanhui();"></span>
      </div>
      <div class="div-zy2">实名认证</div>
      <div class="div-zy1"></div>
    </div>
  </div>
  <div>
    <div class="pd11">
      <span class="ztcolor pd12">请输入本人姓名和身份证信息</span>
    </div>
    <div class="div-zy bk">
      <div class="zuoyoubili2 pd10">
        姓名
      </div>
      <div class="zuoyoubili1">
        <input type="text" class="inputborderpx" placeholder="请输入本人姓名">
      </div>
    </div>
    <div class="div-zy">
      <div class="zuoyoubili2 pd10">
        证件
      </div>
      <div class="zuoyoubili1">
        <input type="text" class="inputborderpx" placeholder="请输入身份证件">
      </div>
    </div>
    <div class="qzjz pd11">
      <span class="btn sm-btn">立即实名</span>
    </div>
  </div>
</div>