<div ng-controller="WorkerTjyhkCtrl" class="worker-tjyhk h100">
  <div class="top-bar yellow div-zy" >
    <div class="div-zy1">
      <span class="arrow" ng-click="fanhui();"></span>
    </div>
    <div class="content div-zy2 text-center">
      <span>银行卡</span>
    </div>
    <div class="div-zy1"></div>
  </div>
  <div class="main">
    <div class="pd11">
      <span class="ztcolor1 pd12">请输入本人银行卡信息</span>
    </div>
    <!-- <div class="div-zy bk">
      <div class="zuoyoubili2 pd10">
        姓名
      </div>
      <div class="zuoyoubili1">
        <input type="text" class="inputborderpx" placeholder="请输入本人姓名">
      </div>
    </div> -->
    <div class="div-zy">
      <div class="zuoyoubili2 pd10">
        卡号
      </div>
      <div class="zuoyoubili1">
        <input type="text" class="inputborderpx" placeholder="请输入银行卡号">
      </div>
    </div>
    <span class="ztcolor2 pd12">*银行卡号是19位银行卡账号哦</span>
    <div class="qzjz pd11">
      <span class="btn sm-btn">添加银行卡</span>
    </div>
  </div>
</div>