<div ng-controller="WorkerWddkCtrl" class="worker-wodedakuan h100">
  <div class="top-bar yellow div-zy" fixed-top>
    <div class="div-zy1">
      <span class="arrow" ng-click="fanhui();"></span>
    </div>
    <div class="content div-zy2 text-center">
      <span>我的打款</span>
    </div>
    <div class="div-zy1"></div>
  </div>
  <div class="main">
    <div class="text-center">总金额:<span class="text-primary" ng-bind="worker.total"></span>,已打款金额: <span class="text-danger" ng-bind="worker.payTotal"></span>,未打款金额: <span class="text-info" ng-bind="worker.needPay"></span></div>
    <div ng-repeat="d in list">
      <table class="table table-bordered">
        <tr>
          <td>已打金额</td>
          <td>
            <span class="text-primary" ng-bind="d.price"></span>
          </td>
        </tr>
        <tr>
          <td>打款时间</td>
          <td>
            <span class="text-danger" show-time="{{d.lastupdate}}" show-time-format="y-M-d h:m:s"></span>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div  class="text-center" style="color: #e72d20;" ng-click="ckgd();" ng-if="page.pageNumber < page.pageCount">查看更多</div>
</div>