<div ng-controller="WorkerWodeCtrl" class="worker-wode" scroll-to-top>
  <div class="div-body">
    <div class="zuoyou topxiangshou2" ng-click="grxx();">
      <div class="zuoyoubili3 pd10">
        <div class="txyuan"></div>
      </div>
      <div class="zuoyoubili2">
        <div>
          <span ng-bind="worker.name"></span>
        </div>
        <div>
          <span ng-bind="worker.phone"></span>
        </div>
      </div>
      <div class="zuoyoubili1">
        <span class="arrow"></span>
      </div>
    </div>
    <div class="juli">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="form-group">
            <div class="pd10">
              <span class="iconfont biaoqian-color">&#xe60d;</span>
              <span>我的工具</span>
            </div>
            <div class="zy1">
              <div class="zy2" ng-click="wodedd();">
                <div class="tbdx">
                  <span class="iconfont">&#xe6bd;</span>
                </div>
                <div>我的订单</div>
              </div>
              <div class="zy2" ng-click="wybb();">
                <div class="tbdx">
                  <span class="iconfont">&#xe70d;</span>
                </div>
                <div>报备</div>
              </div>
              <!-- <div class="zy2">
                <div class="tbdx">
                  <span class="iconfont">&#xe61d;</span>
                </div>
                <div>钱包</div>
              </div> -->
              <div class="zy2" ng-click="gdjc();">
                <div class="tbdx">
                  <span class="iconfont">&#xe647;</span>
                </div>
                <div>联系客服</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="juli">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="form-group">
            <div class="pd10">
              <span class="iconfont biaoqian-color">&#xe60d;</span>
              <span>其他工具</span>
            </div>
            <div class="zy1">
              <!-- <div class="zy2" ng-click="smrz();">
                <div class="tbdx">
                  <span class="iconfont">&#xe674;</span>
                </div>
                <div>实名认证</div>
              </div> -->
              <div class="zy2" ng-click="zxsc();">
                <div class="tbdx">
                  <span class="iconfont">&#xe653;</span>
                </div>
                <div>在线时长</div>
              </div>
              <div class="zy2" ng-click="wddk();">
                <div class="tbdx">
                  <span class="iconfont">&#xe632;</span>
                </div>
                <div>我的打款</div>
              </div>
              <div class="zy2" ng-click="gdj();">
                <div class="tbdx">
                  <span class="iconfont">&#xe673;</span>
                </div>
                <div>更多精彩</div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center juli">
    <span class="btn aqdl-btn" ng-click="logout();"><i class="iconfont">&#xe671;</i>安全退出</span>
  </div>
</div>