<div ng-controller="WorkerXyCtrl" class="worker-xy h100">
  <div class="top-bar yellow div-zt" fixed-top>
    <div class="div-zy1">
      <span class="arrow" ng-click="fanhui();"></span>
    </div>
    <div class="content div-zy2">
      <span>返回登录</span>
    </div>
    <div class="div-zy1"></div>
  </div>
  <div class="main pd10">
    <div class="panel panel-default ">
      <div class="panel-body">

        <div class="text-center h4">《壹路巴巴服务家入驻协议》</div>
        <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 版本号:</div>
        <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;编 号： HY____________</div>
        <div>签约方</div>
        <div>甲方：常德市壹路巴巴网络科技有限公司</div>
        <div> 联系电话:<u> 0736-7158825 15507361688 15576161688</u></div>
        <div><b>乙方:</b></div>
        <div>联系电话：_________身份证号码:_________</div>
        <div>鉴于甲乙双方已就乙方入驻甲方平台承揽业务事宜达成一致，甲方授权乙方为甲方平台服务承揽工作人员，在此双方达成协议如下：</div>
        <div><b>第一条 服务约定</b></div>
        <div>1.1 协议期间，乙方获得甲方授权为甲方平台_____省_____市____区/县的业务承揽服务权利。</div>
        <div>1.2 为保证乙方服务的质量标准，甲方对乙方服务态度及技术可定期进行考核，经考核合格者，才能获得甲方平台接单权限，考核不合格的，甲方可暂时中止对乙方的授权，经再次考核合格的，乙方可恢复接单权限。</div>
        <div>1.3 本协议合作有效期自____ 年___ 月___ 日至 ___ 年__ 月 ___ 日止。如协议到期时双方并无任何异议，本协议有效期可每次自动延长一年，以此类推。任何一方可以随时通知对方终止用工。终止用工的，甲方无需向乙方支付任何费用。</div>
        <div>1.4 本协议必须在乙方成功注册甲方指定的接单系统且审核通过后才生效。</div>
        <div><b>第二条 甲方给予的支持</b></div>
        <div>2.1 在本协议有效期内，乙方在甲方或甲方委托的服务区域提供服务的，可按照甲方《壹路巴巴服务管理政策》（以下简称“服务政策”）获得甲方提供的服务补贴。实际补贴以服务政策约定为准。</div>
        <div>2.2 甲方为乙方提供必要的服务培训及技术指导。</div>
        <div>2.3 乙方应按照甲方服务要求严格履行产品安装及服务工作（参照附件），如乙方服务不达标的，甲方有权对乙方处以罚款（具体处罚标准按照甲方政策执行），甲方有权从应付乙方补贴中直接扣除。</div>
        <div>2.4 乙方为甲方平台授权服务工作人员，双方之间不因本协议而构成劳动关系，乙方应自负盈亏，乙方之负债.法律责任与甲方并无任何连带关系。</div>
        <div>2.5 乙方接单服务达到一定数量时（以甲方政策为准），可向甲方申请升级为浩泽星级服务家，享受星级服务家的待遇。</div>
        <div><b>第三条 乙方服务保障的承诺</b></div>
        <div>3.1 乙方应对甲方平台产品的技术及客户名单等各类商业秘密予以严格保密，在未经甲方书面许可的情况下，乙方不得以任何方式泄密给第三方或以该技术或客户名单等任何商业秘密与任何第三方进行任何形式的合作。若发生上述情况，甲方有权单方面终止合同、没收全部服务补贴并保留追究乙方及其他关联责任人法律责任之权利。本条款在本协议终止后，继续长期有效。</div>
        <div>3.2 乙方应严格按照甲方制定的服务标准为终端客户提供服务，保证终端客户的满意度。</div>
        <div>]3.3 乙方安装及服务中所需的物料、物资由甲方提供或甲方委托乙方购买。除此之外，乙方不得以任何理由收取甲方客户的任何费用。</div>
        <div>3.4 乙方应接受甲方的日常管理监督，严格遵守服务制度及规定。</div>
        <div>3.5 乙方自愿接受甲方针对乙方的客户满意度调查及服务工作考核，并同意甲方可根据考核结果决定乙方的补贴数额。</div>
        <div>3.6 乙方未经甲方书面同意，不得从事任何与甲方有竞争关系的业务，不得与甲方有竞争关系的第三方商业合作，也不得向甲方客户提供甲方授权之外的产品的销售和服务，否则甲方有权立即终止本协议并保留追究乙方及其他关联责任人法律责任之权利。</div>
        <div>3.7 乙方应严格保护甲方及其关联方的所有知识产权及商业秘密，乙方应在本协议有效期内按规定范围使用甲方及其关联方的知识产权及商业秘密，严禁乙方超出本协议规定范围使用或在本协议到期后擅自使用任何甲方及其关联方的知识产权及商业秘密。</div>
        <div><b>第四条 服务结算及奖励</b></div>
        <div>4.1 乙方在规定时效内按照甲方规范完成安装和服务的，甲方给予一定的服务补贴，详情见附件一。</div>
        <div>4.2 乙方达到一定的有效工单量，除了得到相应的服务补贴外，还享有甲方给予的物资奖励或其他现金激励。</div>
        <div>4.3 所有费用由甲方指定的第三方支付。</div>
        <div><b>第五条 处罚措施</b></div>
        <div>5.1 乙方如违反本协议及甲方政策，甲方有权对乙方追究违约责任。</div>
        <div>5.2 乙方应提供符合甲方标准的优质安装及售后服务（以甲方制定的服务规范为准），以及时服务客户、满足客户合理诉求为准，相应服务行为规定见附件二，乙方在本协议有效期内累计发生3次及以上违规的，甲方有权单独采取或同时采取包括但不限于给予每次1000元的罚款、取消补贴奖励、提前终止本协议、取消乙方服务授权等各种处罚措施。</div>
        <div>5.3 乙方须严格遵守甲方的服务规范，不得做出对甲方产品进行诋毁、负面评价等不利于甲方形象的行为，不得对甲方产品进行比价。</div>
        <div>5.4 除因违约事项产生的处罚（见附件二）外，乙方还须承担由此给客户造成的损失。</div>
        <div><b>第六条 附则</b></div>
        <div>6.1 在本协议有效期内，甲方可对甲方政策即时更新、调整，并立即生效，但应及时通知乙方，乙方对此应完全遵守并履行。</div>
        <div>6.2 当本协议到期或提前终止时，乙方应立即无条件向甲方移交售后服务的业务并全力配合移交所有设备及售后物料、物资。</div>
        <div>6.3 如有异议，双方应本着顾全大局、互谅互让的原则协商解决，协商不成的，任何一方均可依法向本协议甲方住所地人民法院提起诉讼。</div>
        <div>6.4 签订本协议的同时，乙方须向甲方提供本人签名的身份证复印件或扫描件。</div>
        <div>6.5 本协议涂改均视为无效。若有其他约定，须以补充协议作为本主体合同附件形式签署。</div>
        <div>6.6 本协议一式两份，甲乙双方各执壹份，本协议附件以及补充协议与主合同具有同等法律效力。</div>
        <div>（本页以下无正文）</div>
        <div>甲方 ___________&nbsp;&nbsp;&nbsp;乙方：____________</div>
        <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（公章）&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (签名)</div>
        <div>授权代表：___________</div>
        <img src="/app/images/001.jpg" width="100%">
        <div><b> 附件一：</b>《服务补贴结算规则》具体以甲方APP公布价格政策为准。</div>
        <div>1、接单后，服务需在规定时效（按照客户的合理时效为标准）内完成，其他类型服务需在24小时内完成，享有如下相对应的结算价格：</div>
        <img src="/app/images/002.jpg" width="100%">
        <div><b>附件二：《服务家考核标准》</b></div>
        <img src="/app/images/003.jpg" width="100%">
        <img src="/app/images/004.jpg" width="100%">
        <div><b>服务家考核标准承诺：</b></div>
        <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>以上服务规范及质量考评激励本人已知悉，并且自愿严格遵守《服务家考核标准》，如出现违反以上规定行为，愿意接受相对应的考核。</b></div>
        <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;承诺人:___________</div>
        <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;日期:____年 ___月___日</div>
      </div>
    </div>
  </div>
</div>