<div ng-controller="WorkerZxscCtrl" class="worker-zxsc h100">
  <div class="div-head yellow">
    <div class="div-zy">
      <div class="div-zy1">
        <span class="arrow" ng-click="fanhui();"></span>
      </div>
      <div class="div-zy2">在线时长</div>
      <div class="div-zy1"></div>
    </div>
  </div>
  <div class="qzjz gk1">
    <div class="txyuan qzjz">
      <span>18</span><span class="jr-color">小时</span><span>56</span><span class="jr-color">分钟</span>
    </div>
  </div>
  <div class="text-center">
    <span class="h3 jr-color">今日在线时间</span>
  </div>
</div>