.iconfont {
  font-family: 'iconfont' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'iconfont';  /* project id 1000802 */
  src: url('//at.alicdn.com/t/font_1000802_9e2iox58zru.eot');
  src: url('//at.alicdn.com/t/font_1000802_9e2iox58zru.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1000802_9e2iox58zru.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1000802_9e2iox58zru.woff') format('woff'),
  url('//at.alicdn.com/t/font_1000802_9e2iox58zru.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1000802_9e2iox58zru.svg#iconfont') format('svg');
}