<div ng-controller="UserXGDLMMCtrl" class="user-xgdlmm">
  <div class="div-head">
    <div class="pd10 alpha-div" ng-click="topage('/user/gerenxinxi');">
      <span class="h3 write">
        <i class="pd10 glyphicon glyphicon-chevron-left"></i>
        修改登录密码
      </span>
    </div>
  </div>
  <div class="wz-color">
    修改密码需要原密码验证,以防账户被恶意串改，造成您不必要的损失
  </div>
  <div class="sbj">
    <div class="div-zy">
      <div class="div-zy3 wz-color zbj">手机号</div>
      <div class="div-zy4 wz-color">
        <span ng-bind="user.phone"></span>
      </div>
    </div>
    <hr>
    <div class="div-zy">
      <div class="div-zy3 jr-color zbj">原密码</div>
      <div class="div-zy4"><input type="password" class="inputborderpx"></div>
    </div>
    <hr>
    <div class="div-zy">
      <div class="div-zy3 jr-color zbj">新密码</div>
      <div class="div-zy4"><input type="password" class="inputborderpx"></div>
    </div>
    <hr>
    <div class="div-zy">
      <div class="div-zy3 jr-color zbj">确认密码</div>
      <div class="div-zy4"><input type="password" class="inputborderpx"></div>
    </div>
    <hr>
    <div class="button">
      <span class="">确认修改</span>
    </div>
  </div>

</div>