<div ng-controller="XiddCtrl" class="xidd h100">

  <!-- excel导出表单 -->
  <form id="fix-excel-form" method="POST" action="{{excelAction}}" target="_blank" style="display: none;">
    <input type="text" name="tbUserFixInfo.fixtype" value="{{tbUserFixInfo.fixtype}}">
    <input type="text" name="tbUserFixInfo.phone" value="{{tbUserFixInfo.phone}}">
  </form>
  <!-- excel导出表单结束 -->

  <div class="h100">
    <div class="panel panel-default">
      <div class="panel-heading bg-color">
        <div class="div-zy">
          <div class="div-zy1">
            <div class="pd1">
              <span class="btn btn2-color" ng-click="queryFixInfo();">所有订单</span>
            </div>
            <div class="pd1">
              <span class="btn btn2-color" ng-click="queryFixInfo(10);">我要修订单</span>
            </div>
            <div class="pd1">
              <span class="btn btn2-color" ng-click="queryFixInfo(11);">我要洗订单</span>
            </div>
            <div class="pd1">
              <span class="btn btn2-color" ng-click="queryFixInfo(12);">我要装订单</span>
            </div>
          </div>
          <div class="div-zy2">
            <h3 class="panel-title text-center h1 sfgl-color">订单信息管理</h3>
          </div>
          <div class="div-zy1"></div>
        </div>
      </div>

      <div class="form-inline">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon zt-color">
              用户电话:
            </span>
            <input type="text" class="form-control" style="width: 15rem;" ng-model="tbUserFixInfo.phone">
          </div>
        </div>
        <span class="btn btn-default" title="搜索" ng-click="query();">
          <i class="iconfont">&#xe62e;</i>
        </span>
        <span class="btn btn-default" ng-click="exportExcel();">导出excel</span>
      </div>
      <div class="panel-body">
        <table class="table table-hover">
          <thead>
            <tr class="bg-info">
              <th>序号</th>
              <th>用户姓名</th>
              <th>叫修需求</th>
              <th>服务类型</th>
              <th>业主电话</th>
              <th>故障图片</th>
              <th>服务状态</th>
              <th>服务师傅</th>
              <th>地址</th>
              <th>订单时间</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="d in list">
              <td>
                <span ng-bind="$index+1"></span>
              </td>
              <td>
                <span ng-bind="d.user.name"></span>
              </td>
              <td>
                <span ng-bind="d.info"></span>
              </td>
              <td>
                <span ng-if="d.fixtype==10">我要修</span>
                <span ng-if="d.fixtype==11">我要洗</span>
                <span ng-if="d.fixtype==12">我要装</span>
              </td>
              <td>
                <span ng-bind="d.phone"></span>
              </td>
              <td>
                <span class="djck" ng-click="djck(d);">点击查看</span>
              </td>
              <td>
                <span ng-if="d.status==10">已经下单</span>
                <span ng-if="d.status==11">已经接单</span>
                <span ng-if="d.status==12">用户取消</span>
                <span ng-if="d.status==13">已经报价</span>
                <span ng-if="d.status==14">服务完成</span>
                <span ng-if="d.status==99">订单完成</span>
                <span ng-if="d.status==15">已经支付</span>
              </td>
              <td>
                <span ng-bind="d.worker.name"></span>
                <div ng-bind="d.worker.phone"></div>
              </td>
              <td>
                <span ng-bind="d.address"></span>
              </td>
              <td>
                <span show-time="{{d.lastupdate}}" show-time-format="y-M-d h:m:s"></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div>
      <nav class="text-center">
        <ul class="pagination">
          <li ng-class="{true:'disabled'}[page.pageNumber==1]">
            <a href="javascript:void(0);" ng-click="toPage(1);">首页</a>
          </li>
          <li ng-class="{true:'disabled'}[page.pageNumber==1]">
            <a href="javascript:void(0);" ng-click="toPage(page.pageNumber-1);">上一页</a>
          </li>
          <li>
            <a href="javascript:void(0);">
              {{page.total}}/{{page.pageNumber}}/{{page.pageCount}}
            </a>
          </li>
          <li ng-class="{true:'disabled'}[page.pageNumber==page.pageCount]">
            <a href="javascript:void(0);" ng-click="toPage(page.pageNumber+1);">下一页</a>
          </li>
          <li ng-class="{true:'disabled'}[page.pageNumber==page.pageCount]">
            <a href="javascript:void(0);" ng-click="toPage(page.pageCount);">尾页</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>